.about-home {
  padding: 40px 20px;
  background-color: #eaf4f4;
  text-align: center;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.05); 


  h1 {
    font-family: $playfair;
    font-size: 36px;
    color: $black;
    margin-bottom: 20px;
    font-weight: 700;

    
  }

  p {
    font-family: $playfair;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8;
    max-width: 700px;
    margin: 0 auto;
  }

  .about-home__link {
    font-family: $playfair;
    font-size: 18px;
    font-weight: 500;
    color: #32a852;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease, transform 0.3s ease; 
    margin-top: 30px;

    &:hover {
      color: $primary-color;
      transform: translateY(-2px);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 2px;
      background-color: #32a852;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: left;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}
