.event {
  padding: 3rem 1.25rem 5rem 1.25rem;
  background: linear-gradient(135deg, #f5f5f5 30%, #e0e0e0);
  text-align: center;

  .event__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;

    h2 {
      font-family: $playfair;
      font-size: 2.25rem;
      color: $black;
      font-weight: 700;
      position: relative;
      z-index: 10;
      overflow: hidden;
      letter-spacing: 1px;
    }

    h3 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-family: $playfair;
      font-size: 1.25rem;
      color: $primary-color;
      font-weight: 500;
      position: relative;
      cursor: pointer;

      .event__icon {
        font-size: 1rem;
      }

      &:hover {
        color: $light__green;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.1875rem;
        height: 0.125rem;
        background-color: $light__green;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: right;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .event__wrapper {
    display: flex;
    gap: 1.875rem;
    overflow-x: auto;
    padding-bottom: 1.25rem;
    padding-left: 0.625rem;

    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.625rem;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $gray;
    }

    .event__card {
      padding: 1.25rem 2.5rem;
      height: 15rem;
      background-size: cover;
      border-radius: 1.25rem;
      position: relative;
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      white-space: nowrap;
      box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2);

      &:hover {
        transform: scale(1.05) translateY(-0.625rem);
        box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.3);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 1.25rem;
        z-index: 1;
        clip-path: circle(0% at 50% 50%);
        transition: clip-path 0.5s ease-in-out;
      }

      &:hover::before {
        clip-path: circle(75% at 50% 50%);
      }

      h2,
      h4,
      button {
        position: relative;
        z-index: 2;
      }

      h2 {
        font-family: $playfair;
        font-weight: 600;
        font-size: 1.875rem;
        margin-bottom: 0.625rem;
        text-transform: lowercase;
        letter-spacing: 1px;
        text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.6);
        width: 18.75rem;
        text-align: center;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &::first-letter {
          text-transform: uppercase;
        }
      }

      h4 {
        font-family: $playfair;
        font-weight: 500;
        font-size: 1.375rem;
        margin-bottom: 1.25rem;

        span {
          font-family: $playfair;
          font-weight: bold;
          color: $light-gray;
          text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5);
        }
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.75rem 1.5625rem;
        background: linear-gradient(45deg, $primary-color, $secondary-color);
        border: none;
        border-radius: 0.75rem;
        color: $white;
        cursor: pointer;
        font-family: $playfair;
        font-weight: 500;
        font-size: 1rem;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
        }

        .event__btn-icon {
          font-size: 1rem;
          transition: transform 0.3s, color 0.3s;
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    transform: scale(0.8);
    animation: modalFadeIn 0.5s forwards;

    &__content {
      display: flex;
      background-color: $white;
      border-radius: 1.25rem;
      overflow: hidden;
      box-shadow: 0 0.9375rem 2.5rem rgba(0, 0, 0, 0.5);
      max-width: 56.25rem;
      width: 100%;

      .modal__image {
        width: 80%;
        background-size: cover;
        background-position: center;
        border-radius: 1.25rem 0 0 1.25rem;
        transition: transform 0.5s ease-in-out;
      }

      .modal__info {
        padding: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $black;

        h2 {
          font-family: $playfair;
          font-weight: 600;
          font-size: 1.75rem;
          margin-bottom: 0.9375rem;
          color: $black;
          text-transform: lowercase;
          &::first-letter {
            text-transform: uppercase;
          }
        }

        p {
          font-family: $playfair;
          font-weight: 500;
          font-size: 1.125rem;
          margin-bottom: 0.625rem;
          color: $gray;
        }

        button {
          font-family: $playfair;
          font-weight: 600;
          font-size: 0.875rem;
          padding: 0.75rem 1.5625rem;
          background: $primary-color;
          border: none;
          border-radius: 0.625rem;
          color: $white;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background: darken($primary-color, 10%);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .event__wrapper {
      display: block;
      padding: 0;
      gap: 0.9375rem;
      overflow: hidden;
    }

    .event__card {
      padding: 1rem;
      margin: 1rem 0;
      height: auto;

      &:hover {
        transform: none;
        box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.3);
      }

      &::before {
        clip-path: circle(50% at 50% 50%);
      }
      
      &:hover::before {
        clip-path: circle(50% at 50% 50%);
      }
      
    }
  }

  @media (max-width: 480px) {
    .event__head h2 {
      font-size: 1.5rem;
    }

    .event__card h2 {
      font-size: 0.8rem;
      width: 12rem;
    }

    .modal__info {
      padding: 1rem;
    }
  }

  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
