
.event {
  padding: 60px 20px 80px 20px;
  background: linear-gradient(135deg, #f5f5f55e 30%, #e0e0e094);
  text-align: center;

  h1 {
    text-align: left;
    font-size: 36px;
    color: $black;
    margin-bottom: 20px;
    font-weight: 700;
    margin: 20px 0;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }

  .event__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 30px;
    overflow-y: hidden;
    overflow-x: scroll; 
    padding-bottom: 20px; 
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    // &::-webkit-scrollbar-thumb {
    //   background-color: rgba(0, 0, 0, 0.2);
    //   border-radius: 6px;
    // }
  
    // &::-webkit-scrollbar-track {
    //   background-color: #f1f1f1;
    // }

    .event__card {
      height: 240px;
      background: url(/src/assets/images/Mask.png) no-repeat center;
      background-size: cover;
      border-radius: 20px;
      position: relative;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      padding: 30px 90px;
      transition: transform 0.5s linear, box-shadow 0.5s ease;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      white-space: nowrap;

      &:hover {
        transform: scale(1.01) translateY(-10px);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        z-index: 1;
        clip-path: circle(0% at 50% 50%);
        transition: clip-path 0.4s ease-in-out;
      }

      &:hover::before {
        clip-path: circle(75% at 50% 50%);
      }

      h2,
      h4,
      button {
        position: relative;
        z-index: 2;
      }

      h2 {
        font-size: 30px;
        margin-bottom: 10px;
        text-transform: lowercase;
        letter-spacing: 2px;
        text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
        &::first-letter {
          text-transform: uppercase;
        }
      }

      h4 {
        font-size: 22px;
        margin-bottom: 20px;

        span {
          font-weight: bold;
          color: #e0e0e0;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 14px 28px;
        background: linear-gradient(45deg, #32a852, #28a745);
        border: none;
        border-radius: 12px;
        color: $white;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

        &:hover {
          background: linear-gradient(45deg, #28a745, #32a852);
          transform: scale(1.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        }

        .event__btn-icon {
          font-size: 18px;
          transition: transform 0.3s, color 0.3s;
        }
      }
    }
  }

  @keyframes expandLine {
    from {
      width: 0;
    }
    to {
      width: 60px;
    }
  }
}