.our {
    width: 100%;
    padding: 35px 0; /* Adjusted padding for consistency */
    background: linear-gradient(135deg, #34d87e66 30%, #5cf0e95a);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;

    .our__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px; /* Reduced gap for consistency */
    }

    .our__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform: rotate(45deg);
        width: 125px; /* Adjusted size for better fit */
        height: 125px;
        position: relative;

        .our__item-wrapper {
            position: absolute;
            left: 22%;
            top: 12%;
            transform: rotate(-45deg);
        }

        &:hover {
            transform: rotate(45deg) translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            background-color: #f0f8ff;
        }

        .our__icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        .our__icon {
            font-size: 25px; /* Adjusted icon size */
            color: #333;
            transition: transform 0.3s ease;
        }

        .our__count {
            font-size: 1.5rem; /* Adjusted font size */
            font-weight: bold;
            color: #555;
            margin: 8px 0;
            text-align: center;
            transition: color 0.3s ease;
        }

        .our__title {
            font-size: 1.05rem; /* Adjusted title size */
            color: #333;
            text-align: center;
            transition: color 0.3s ease;
        }

        &:hover .our__icon {
            transform: scale(1.1);
            color: #32a852;
        }

        &:hover .our__count,
        &:hover .our__title {
            color: #2c3e50;
        }
    }
}
