* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1235px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
list-style: none;
}

a{
    text-decoration: none;
}

.loading__img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin: 80px;
}

.error__text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: 28px;
  font-weight: 500;
  font-family: $gupter;
  letter-spacing: 1px;
  margin: 80px;
}